   <ion-toolbar color="secondary">
	   <ion-row>
		   <ion-col size="2">
			   	<ion-back-button defaultHref="" class="back_btn"></ion-back-button>
		   </ion-col>
			   <ion-col size="8">
			   	<p class="notify">Notifications</p>
			   </ion-col>
	   </ion-row>
   </ion-toolbar>

   <ion-content class="dashboard">
   	<ion-card class="notification_card">
   		<ion-row>
   			<ion-col size="9">
   				<ion-row>
   					<ion-col sixe="1">
   						<ion-icon name="radio-button-off" color="secondary" class="round_ico"></ion-icon>
   					</ion-col>
   					<ion-col size="10">
   						<p class="minute_txt">15 Minutes ago</p>
   					</ion-col>
   				</ion-row>
   				<ion-row>
   					<ion-col size="10" offset="2">
   						<p class="friend_request">Jones Sent you a friend request</p>
   					</ion-col>
   				</ion-row>
   			</ion-col>
   			<ion-col size="3">
   				<ion-icon name="arrow-forward" class="forward_arrow"></ion-icon>
   			</ion-col>
   		</ion-row>
   	</ion-card>

   	   	<ion-card class="notification_card">
   		<ion-row>
   			<ion-col size="9">
   				<ion-row>
   					<ion-col sixe="1">
   						<ion-icon name="radio-button-off" color="secondary" class="round_ico"></ion-icon>
   					</ion-col>
   					<ion-col size="10">
   						<p class="minute_txt">15 Minutes ago</p>
   					</ion-col>
   				</ion-row>
   				<ion-row>
   					<ion-col size="10" offset="2">
   						<p class="friend_request">Jones Sent you a friend request</p>
   					</ion-col>
   				</ion-row>
   			</ion-col>
   			<ion-col size="3">
   				<ion-icon name="arrow-forward" class="forward_arrow"></ion-icon>
   			</ion-col>
   		</ion-row>
   	</ion-card>

   	   	<ion-card class="notification_card">
   		<ion-row>
   			<ion-col size="9">
   				<ion-row>
   					<ion-col sixe="1">
   						<ion-icon name="radio-button-off" color="secondary" class="round_ico"></ion-icon>
   					</ion-col>
   					<ion-col size="10">
   						<p class="minute_txt">15 Minutes ago</p>
   					</ion-col>
   				</ion-row>
   				<ion-row>
   					<ion-col size="10" offset="2">
   						<p class="friend_request">Jones Sent you a friend request</p>
   					</ion-col>
   				</ion-row>
   			</ion-col>
   			<ion-col size="3">
   				<ion-icon name="arrow-forward" class="forward_arrow"></ion-icon>
   			</ion-col>
   		</ion-row>
   	</ion-card>

   	   	<ion-card class="notification_card">
   		<ion-row>
   			<ion-col size="9">
   				<ion-row>
   					<ion-col sixe="1">
   						<ion-icon name="radio-button-off" color="secondary" class="round_ico"></ion-icon>
   					</ion-col>
   					<ion-col size="10">
   						<p class="minute_txt">15 Minutes ago</p>
   					</ion-col>
   				</ion-row>
   				<ion-row>
   					<ion-col size="10" offset="2">
   						<p class="friend_request">Jones Sent you a friend request</p>
   					</ion-col>
   				</ion-row>
   			</ion-col>
   			<ion-col size="3">
   				<ion-icon name="arrow-forward" class="forward_arrow"></ion-icon>
   			</ion-col>
   		</ion-row>
   	</ion-card>

   	   	<ion-card class="notification_card">
   		<ion-row>
   			<ion-col size="9">
   				<ion-row>
   					<ion-col sixe="1">
   						<ion-icon name="radio-button-off" color="secondary" class="round_ico"></ion-icon>
   					</ion-col>
   					<ion-col size="10">
   						<p class="minute_txt">15 Minutes ago</p>
   					</ion-col>
   				</ion-row>
   				<ion-row>
   					<ion-col size="10" offset="2">
   						<p class="friend_request">Jones Sent you a friend request</p>
   					</ion-col>
   				</ion-row>
   			</ion-col>
   			<ion-col size="3">
   				<ion-icon name="arrow-forward" class="forward_arrow"></ion-icon>
   			</ion-col>
   		</ion-row>
   	</ion-card>

   </ion-content>