<ion-toolbar>
	<ion-buttons slot="start" class="back_btn">
	  <ion-back-button defaultHref="" color="secondary"></ion-back-button>
	</ion-buttons>
</ion-toolbar>
<ion-content>

	<img src="assets/images/profile_pic.jpg">


	<div class="frosted_bar">
		<img src="assets/images/blurred_bg.png" class="blurr_bg">
		<ion-row class="">
			<ion-col size="2">
			  <img src="assets/images/user_proicon1.png">
			 
			</ion-col>
			<ion-col size="2">
				<img src="assets/images/user_proicon2.png">
			   
			  </ion-col>
			  <ion-col size="2">
				<img src="assets/images/user_proicon3.png">
			   
			  </ion-col>
			</ion-row>

	</div>
	
	<p class="name">Jim (45) & Sara (39)</p>
	<ion-row class="user_loc">
		
		<ion-col size="8">
			<ion-icon name="pin" class="pin_icon"></ion-icon>
			<p class="miles_txt">12 Miles Away</p>
		</ion-col>
	</ion-row>

	<ion-footer>
	
		<ion-row class="footer_row">
		  <ion-col size="3">
			<ion-icon name="person" class="foot_icons"></ion-icon>
			<p class="icon_txt">Profile</p>
		  </ion-col>
		   <ion-col size="3">
			<ion-icon name="heart" class="foot_icons"></ion-icon>
			<p class="icon_txt">Friends</p>
		  </ion-col>
		   <ion-col size="3">
			<ion-icon name="chatboxes" class="foot_icons"></ion-icon>
			<p class="icon_txt">Messaing</p>
		  </ion-col>
		   <ion-col size="3">
			<ion-icon name="people" class="foot_icons"></ion-icon>
			<p class="icon_txt">Vendors</p>
		  </ion-col>
		</ion-row>
	</ion-footer>
</ion-content>
