   <ion-toolbar class="tool">
	   <ion-row>
		   <ion-col size="2">
			   	<ion-back-button defaultHref="" class="back_btn" color="secondary"></ion-back-button>
		   </ion-col>
			   <ion-col size="8">
			   	<p class="notify">Add Photo</p>
			   </ion-col>
	   </ion-row>
   </ion-toolbar>

  <ion-content class="dashboard">

  	<ion-row class="photo_uploads">
  		<ion-col size="4">
  			<div class="photo_card">
        <img src="/assets/images/profile_pic.png" class="upload_photo">
        <img src="/assets/images/delete.png" class="delete_pic">
        </div>
  		</ion-col>
  		<ion-col size="4" >
  			<div class="dotted_card">
           <img src="/assets/images/plus_icon.png" class="add_pic">
  		</div>
  		</ion-col>
  		<ion-col size="4" >
  			<div class="dotted_card">
           <img src="/assets/images/plus_icon.png" class="add_pic">
  		</div>
      </ion-col>
      <ion-col size="4" >
  			<div class="dotted_card">
           <img src="/assets/images/plus_icon.png" class="add_pic">
  		</div>
  		</ion-col>
  		<ion-col size="4" >
  			<div class="dotted_card">
           <img src="/assets/images/plus_icon.png" class="add_pic">
  		</div>
      </ion-col>
      <ion-col size="4" >
  			<div class="dotted_card">
           <img src="/assets/images/plus_icon.png" class="add_pic">
  		</div>
  		</ion-col>
  		<ion-col size="4" >
  			<div class="dotted_card">
           <img src="/assets/images/plus_icon.png" class="add_pic">
  		</div>
      </ion-col>
      <ion-col size="4" >
  			<div class="dotted_card">
           <img src="/assets/images/plus_icon.png" class="add_pic">
  		</div>
  		</ion-col>
  		<ion-col size="4" >
  			<div class="dotted_card">
           <img src="/assets/images/plus_icon.png" class="add_pic">
  		</div>
  		</ion-col>
  	</ion-row>



    <ion-card class="add_photo">
      <p>Add Photo</p>
    </ion-card>

    <ion-row>
      <ion-col size="2">
         <ion-icon name="alert" color="danger" class="alert_ico"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <p class="txt_icon">Add only family picture or with partners, Single pictures will be removed.</p>
      </ion-col>
    </ion-row>

    <ion-card class="done_card">
      <p>Done</p>
    </ion-card>


    


  </ion-content>