.aside_bg{
    width: 30%;
    padding-top: 10px;
    margin: 0 auto;
}
.title{
	font-size: 12px;
    font-weight: 600;
    padding-top: 13px;
}
.profile_ico{
    width: 15px;
    margin: 20px auto;
    display: block;
}
.menus{
    border-bottom: 1px solid #eae9e9;
    margin-top: 0;
    height: 36px;
    line-height: 28px;
	img{
		width: 12px;
		margin: 6px auto;
		display: block;
	}
	p{
		margin: 0;
		padding: 0;
		font-size: 12px;
		font-weight: 600;
	}
}
.aside_menus{
	padding:15px 40px;
}
ion-menu ion-header {
    box-shadow: none !important;
}