  <ion-toolbar>
      <ion-buttons slot="start" class="back_btn">
        <ion-back-button defaultHref="" color="secondary"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>


  <ion-content class="dashboard">
  <ion-row>
		<ion-col size="4" offset="4">
			<img src="/assets/images/mobile_logo.png" class="logo_img">
		</ion-col>
	</ion-row>

	<p class="mob_text">My Birthday is</p>

	<ion-card class="input_card">
	    <ion-input class="user_text" type="number" placeholder="__ /__ /____"></ion-input>
	</ion-card>

	<p class="appear_text">This information will be made public</p>

	<ion-row>
		<ion-col size="4" offset="4" [routerLink] ="['/select-gender']">
			<img src="/assets/images/login_btn.png" class="login_btn">
		</ion-col>
	</ion-row>


  </ion-content>

