  <ion-toolbar>
      <ion-buttons slot="start" class="back_btn">
        <ion-back-button defaultHref="" color="secondary"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>


 <ion-content class="dashboard">

 	<ion-row>
		<ion-col size="4" offset="4">
			<img src="/assets/images/logo.png">
		</ion-col>
	</ion-row>

	<p class="find_partner">Search people</p>


     <ion-card class="input_card">
	    <ion-input placeholder="Search with full Name" class="user_text"></ion-input>
	</ion-card>


	<ion-card color="secondary" class="search_btn"><P>Search</P></ion-card>



</ion-content>